.fotoPerfil{
    text-align: center;
    padding: 20px;
    height: 200px;
    background-color: brown;
}
.imagen-perfil-usuario{
    height: 100px;
}
.nombre{
    font-size: 20px;
    margin-top: 5px;
    font-style: italic ;
    color: white;
}
.seguidores{
    height: 200px;
    margin-top: 50px;
    border-style: groove;
    border-color: brown;
}

.dejarDeSeguir {
    margin: 10px;
    border: 0;
    border-radius: 10px;
    background-color: red;
    color: #ffffff;
}
.contenedor{
    float: left;
    padding: 20px;
    height: 1200px;
    width: 600px;
}
.mensajes{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    height: 600px;
    width: 600px;
    border-style: groove;
    border-color: brown;
    background-color: coral;
}
.men-box{
    text-align: center;
    list-style-type: none;
    
}
.men-box li{
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    border-style: groove;
    border-color: brown;
    background-color: cornsilk;
}
.meGusta{

    margin: 10px;
    border: 0;
    border-radius: 50px;
    background-color: green;
    color: #ffffff;
}
.eliminar{
    display: inline-block;
 
    margin: 10px;
    border: 0;
    border-radius: 50px;
    background-color:red;
    color: #ffffff;
}
.botonMensaje{
    display: block;
}