
/* ---Perfil/Perfil Usuario--- */
.avatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}
.fotoPerfil{
    text-align: center;
    padding: 20px;
    height: 250px;
}
.imagen-perfil-usuario{
    height: 100px;
}
.nombre{
    font-size: 20px;
    margin-top: 5px;
    font-style: italic ;
    color: white;
}
.seguidores{
    margin-top: 50px;
    border-style: groove;
    border-color: white;
    list-style: none;
}

.dejarDeSeguir {
    margin: 10px;
    border: 0;
    border-radius: 10px;
    background-color: red;
    color: #ffffff;
}
.contenedorPerfilUsuario{
    
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    padding: 20px;
    width: 600px;
    height: 400px;
    background-color: rgb(15, 6, 19);
    box-shadow: 0px 0px 3px #848484;
    opacity: 0.95;
}
.contenedor{
    
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    padding: 20px;
    width: 600px;
    background-color: rgb(15, 6, 19);
    box-shadow: 0px 0px 3px #848484;
    opacity: 0.95;
}

.mensajes{
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    padding: 20px;
    width: 600px;    
    background-color: rgb(15, 6, 19);
    box-shadow: 0px 0px 3px #848484;
    opacity: 0.95;
}
.men-box{
    text-align: center;
    list-style-type: none;
    
}
.men-box li{
    font-size: 15px;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    border-style: groove;
    border-color: rgb(252, 252, 252);
    background-color: white;
}
.usuarioLink{
    font-size: 15px;
    margin-top: 5px;
    font-style: italic ;
    color: white;
}

.eliminar{
    display: block;
 
    margin: 10px;
    border: 0;
    border-radius: 50px;
    background-color:red;
    color: #ffffff;
}

.seguir{
    margin: 10px;
    border: 0;
    border-radius: 50px;
    background-color: orangered;
    color: #ffffff;
}
.meGusta{
    display: block;
    margin: 10px;
    border: 0;
    border-radius: 50px;
    background-color: green;
    color: #ffffff;
}
.yaNoMeGusta{
    display: block;
    margin: 10px;
    border: 0;
    border-radius: 50px;
    background-color: orangered;
    color: #ffffff;
}


/* ---index--- */
.cuadroPerfil{
    float: left;
    margin-left: 20px;
    margin-top: 80px;
    padding: 20px;
    height: 400px;
    width: 280px;
    background-color: rgb(15, 6, 19);
    box-shadow: 0px 0px 3px #848484;
    opacity: 0.95;
}
.avatar2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 10px;
    
}

.fotoPerfil2{
    text-align: center;
    padding: 0px;
    height: 150px; 
}
.nombre2{
    font-size: 17px;
    margin-top: 5px;
    font-style: italic ;
    color: white;
}
.ultimosMensajes{
    position: absolute;
    float: left;
    margin-left: 350px;
    margin-top: 80px;
    padding: 20px;
    /* height: 600px; */
    width: 800px;    
    background-color: rgb(15, 6, 19);
    box-shadow: 0px 0px 3px #848484;
    opacity: 0.95;
}
.men-box2{
    text-align: left;
    list-style-type: none;
    
}
.men-box2 li{
    font-size: 15px;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    border-style: groove;
    border-color: rgb(252, 252, 252);
    background-color: white;
}
.men-box2-title{
    text-align: center;
    color: white;
    font-style: italic;

}
.fotoMensaje{
    padding: 20px;
}
.unMensaje{
    padding: 20px;
}




/* ------------------- */
body{
    background: url(../img/11.jpg) no-repeat center center fixed;
    background-size: cover ;
    
font-family: sans-serif;
padding-top: 50px;
transition: padding-top 0.5s ease;
margin: 0;
z-index: 0;
}


